---
import BaseLayout from './basePage.html';
---
 <BaseLayout>
  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi!</h1>
      </header>
      <p>I’m Hannah, and I’m an editor and writer who lives in Wilmington, NC. 

        My love for stories began with reading books as a kid and continued as I studied English and History at the University of Florida. It was during undergrad that I saw first-hand the importance of stories through my time as a reporter at the <em>Independent Florida Alligator</em> and through my thesis, which examined the journals of a woman’s life during the late 18th century. (You can read the published paper here).

        Since then, my editing and writing career has taken me fascinating places. I was the Associate Editor of <em>MASSAGE Magazine</em> and <em>Chiropractic Economics</em>, the Managing Editor of <em>Creating Wealth Publications</em> (an Agora Financial company), and the Digital Managing Editor of <em>WoundSource</em>. I’ve worked with freelancers, staff writers and Fortune 500 companies on digital and print content, edited and written long-form and short-form articles, and developed and managed an editorial content plan with an eye toward SEO writing. I’m interested in creating content that resonates with an audience.

        You can view my <a href="/portfolio/">portfolio</a> here and my resume <a href="./public/HannahFell_Resume.pdf">here.</a></p>
    </div>
    <img class="image object" id="logo" src='/images/mainLogo.svg' />
  </section>
</BaseLayout>