---

import BaseLayout from './basePage.html';
import * as fs from 'fs';

const linkPath = './public/clips/links/';
const massageFilePath = '/public/clips/files/massage/';

const massageFileClips = await Astro.glob('/public/clips/files/massage/*').then(files => {
    return files.map(file => file.default);
});

const chiroFileClips = await Astro.glob('/public/clips/files/chiro/*').then(files => {
    return files.map(file => file.default);
});

const massageLinkPath = linkPath + 'massageWebLinks.txt';
const chiroLinkPath = linkPath + 'chiroWebLinks.txt';
const wsLinkPath = linkPath + 'wsWebLinks.txt';
const tfaLinkPath = linkPath + 'tfaWebLinks.txt';
const gatorLinkPath = linkPath + 'alligatorWebLinks.txt';

const massageLinks = fs.readFileSync(massageLinkPath).toString().split('\n')
const chiroLinks = fs.readFileSync(chiroLinkPath).toString().split('\n');
const wsLinks = fs.readFileSync(wsLinkPath).toString().split('\n');
const tfaLinks = fs.readFileSync(tfaLinkPath).toString().split('\n');
const gatorLinks = fs.readFileSync(gatorLinkPath).toString().split('\n');

---

<BaseLayout>
	<body>
        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>Here are some clips!</h1>
                    <h2>WoundSource</h2>
                    <ul>
                        {wsLinks.map((line) => <li><a href={line.split(',')[0]}>{line.split(',')[1]}</a></li>)}
                    </ul>
                    <h2>Chiropractic Economics</h2>
                    <ul>
                        {chiroFileClips.map((clip) => <li><a href={clip}>{clip.substr(0, clip.lastIndexOf('.')).substr(clip.lastIndexOf('/')+1, clip.length)}</a></li>)}
                        {chiroLinks.map((line) => <li><a href={line.split(',')[0]}>{line.split(',')[1]}</a></li>)}
                    </ul>
                    <h2>MASSAGE Magazine:</h2>
                    <ul>
                        {massageFileClips.map((clip) => <li><a href={clip}>{clip.substr(0, clip.lastIndexOf('.')).substr(clip.lastIndexOf('/')+1, clip.length)}</a></li>)}
                        {massageLinks.map((line) => <li><a href={line.split(',')[0]}>{line.split(',')[1]}</a></li>)}
                    </ul>
                    <h2>The Future Adjustment Podcast</h2>
                    <ul>
                        {tfaLinks.map((line) => <li><a href={line.split(',')[0]}>{line.split(',')[1]}</a></li>)}
                    </ul>
                    <h2>The Independent Florida Alligator</h2>
                    <ul>
                        {gatorLinks.map((line) => <li><a href={line.split(',')[0]}>{line.split(',')[1]}</a></li>)}
                    </ul>
                </header>
            </div>
            <img class="image object" id="logo" src='/images/mainLogo.svg' />
        </section>
    </body>
</BaseLayout>